<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moog Sub37 Users Club</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          {{#if user}}
          <li role="presentation"><a href="/"></a></li>
          <li role="presentation"><p style="font-size:100%; color: rgb(73, 231, 40)">Welcome {{user.username}}!</p><a href="/users/logout">Logout</a></li>
          {{else}}
          <li role="presentation"><a href="/users/login">Login</a></li>
          <li role="presentation"><a href="/users/register">Register</a></li>
          {{/if}}
        </ul>
      </nav>
      <h1 class="text-muted">Moog Sub37 Users Club</h1>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}} {{{body}}}
      </div>

    </div>

    <footer>
      <div class="myLinks">
        <p>&copy; 2017 Created with love by Camillo</p>
        <a href="https://github.com/cangelozzi" target="_blank"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Camillo @ GitHub"></a>
        <a href="https://www.linkedin.com/in/camillo-angelozzi-a0b5a229" target="_blank"><img src="https://higherlogicdownload.s3.amazonaws.com/VMUG/469c9ce4-19fc-442d-8641-0373c550b095/UploadedImages/NJVMUG/LinkedIn-Logo-500x500.png" alt="Camillo @ Linkedin"></a>
      </div>
  </footer>

  </div>
  <!-- /container -->

</body>

</html>
